.main {
    text-align: center;
    display: grid;
    justify-content: center;
}

.PerfilCard {
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: rgb(32, 47, 94);
    border-radius: 5% 5% 0% 0%;
}

.perfil {
    justify-self: center;
    background:url( '../../../public/perfil.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-color:rgb(48, 56, 80);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px;
    padding: 5px;
}

.name {
    color: rgb(255, 255, 255)
}

.input {
    text-align: center;
}